div {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: blue;
}

#greenDiv {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: green;
}

#yellowDiv {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	background-color: yellow;
}